html {
	padding:0px;
	margin:0px;
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	padding:0px;
	margin:0px;
}

h1 {
	padding:0px;
	margin:0px;
}

#root {
	font-family: sans-serif;
	width:100%;
	height: 100%;
	padding:0px;
	margin:0px;
}

#title-bar {
	text-transform: uppercase;
	background-color: #222;
	color:#eee;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:10px;
}

#main {
	margin:0px;
	padding:0px;
	height: 100%;
}

#nav-bar {
	text-transform: uppercase;
	float:left;
	width:15%;
	background-color:#555;
	padding:0px;
	margin:0px;
	bottom:0px;
	position:relative;
	height: 100%;
}

#nav-bar > ul {
	list-style: none;
}

#nar-bar > li {
	border-style: solid;
	color:#fff;
}

#content {
	padding: 0px;
	margin: 0px;
	background-color: #eee;
	height: 100%;
	width: 85%;
	float: right;
}

h2 {
	padding: 0px;
	margin: 0px;
}
